<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header">
    	<div style="margin-top:10px;">
	        <i class="bi bi-browser-safari" style="color:skyblue;"></i>header 영역입니다. 
	        <a href="./login" class="btn btn-success btn-sm"> <i class="bi bi-box-arrow-in-down"></i>로그인</a>
	        <a href="./logout" class="btn btn-outline-danger btn-sm">로그아웃</a>
        </div>
        <hr>
    </div>

    <div th:fragment="footer">
        <hr>
        footer 영역입니다.
    </div>
</html>